#  add files to ignore
# .gitignore    
# Ignore Python bytecode files
__pycache__/
*.pyc
# Ignore virtual environment directories
venv/
env/
# Ignore Streamlit configuration files
.streamlit/config.toml
.streamlit/secrets.toml
# Ignore log files
*.log
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore  the .env file that may contain sensitive information
.env